<!DOCTYPE html>
{% extends 'lmn/base.html' %}

<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  {% block content %}


{% if show %}
  <h2 id="show_title">Notes for {{ show.artist.name }} at {{ show.venue.name }} on {{ show.show_date }}</h2>
{% else %}
  <h2>Latest Notes</h2>
{% endif %}


{% for note in notes %}

<div id="note_{{ note.pk }}">
 <h3 class="note_title">{{ note.title }}</h3>

  <p class="show_info"><a href="{% url 'lmn:notes_for_show' show_pk=note.show.pk %}">{{ note.show.artist.name }} at {{ note.show.venue.name }} on {{ note.show.show_date }}</a></p>
  <P class="note_info">Posted {{ note.posted_date|timesince }} ago by <a class='user' href="{% url 'lmn:user_profile' user_pk=note.user.pk %}">{{ note.user.username }}</a></p>
  <p class='note_text'>{{ note.text|truncatechars:100 }}</p>
  <a class="btn btn-default" href="{% url 'lmn:edit_notes' pk=note.pk%}"><span style="font-size:0.8em" class="glyphicon glyphicon-pencil"></span>Edit</a>
  <a class="btn btn-default" href="{% url 'lmn:delete_notes' pk=note.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
  <hr>


{% empty %}

<p>No notes.</p>

{% endfor %}

<!-- If this is a list of notes for one show,
display button to add new note for that show. -->

{% if show %}

<form action="{% url 'lmn:new_note' show_pk=show.pk %}">
  <input class=" btn btn-default" id="add_note" type='submit' value='Add your own notes'>


 </form>

{% endif %}

{% endblock content %}
  </body>
</html>
