
{% extends 'lmn/base.html' %}

{% block content %}

    <div id="fb-root"></div>

    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <h2 id="note_page_title">
        {{ note.show.artist.name }} at {{ note.show.venue.name }} by
        <a href="{% url 'lmn:user_profile' user_pk=note.user.pk %}">
            {{ user.username}}
        </a>
    </h2>

    <p id="note_title"><b>{{ note.title}}</b></p>

    <p id="note_text">{{ note.text }}</p>

    <img src="{{ note.picture.url }}" width="300">

    <div class="twitter-share-button">
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw"
           class="twitter-share-button"
           data-text="This show was awesome!"
           data-hashtags="LMNOP"
           data-lang="en"
           data-show-count="false">
           Tweet
        </a>
        <script
            async
            src="https://platform.twitter.com/widgets.js"
            charset="utf-8">
        </script>
    </div>

    <div class="fb-share-button"
         data-layout="button_count"
         data-size="small"
         data-mobile-iframe="true">
        <a target="_blank"
            href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse"
            class="fb-xfbml-parse-ignore">
            Share
        </a>
    </div>

    <div class="reddit-share-button">
        <a href="//www.reddit.com/submit"
           onclick="window.location =
           '//www.reddit.com/submit?url=' +
           encodeURIComponent(window.location);
           return false">
            <img src="//www.redditstatic.com/spreddit7.gif"
                 alt="submit to reddit"
                 border="0" />
        </a>
    </div>

{% endblock %}
