{% extends 'lmn/base.html' %}
{% block content %}
    <h1 >{{ userProfile.user.username }}'s profile details</h1>
    <p>Member since {{userProfile.joined_date}}</p>

    <h2>User Profile Details</h2>
    {% if message %}
      <p>{{message}}</p>
    {% endif %}
    <form method='post' action="">
      {% csrf_token %}
      {{form}}
      <button type="submit"class="save btn btn-default">Save</button>
    </form>

    {% for note in notes %}

    <div class='note' id="note_{{ note.pk }}">
      <h3 class="note_title"><a href="{% url 'lmn:note_detail' note_pk=note.pk %}">{{ note.title }}</a></h3>
      <P class="note_info">{{ note.show.artist.name }} at {{ note.show.venue.name }} on {{ note.show.show_date }}</P>
      <p class="note_text">{{ note.text|truncatechars:300}}</p>
      <p class="note_posted_at">{{ note.posted_date}}</p>
    </div>

    {% empty %}

        <p id='no_records'>No notes.</p>

    {% endfor %}

{% endblock %}
