.jumbotron{
  height:250px;
  background-image: url(http://38.media.tumblr.com/3e1581b1515e2d5305a67d8c31a78d86/tumblr_ndp7fbYtOZ1qajx6xo1_500.gif);
  background-repeat: no-repeat;
  background-size: cover;

}

.jumbotron div{
  margin-top: 4em;
  margin-left: -4.4em;
  padding: -1em;
}

.menu_button{
  position: fixed;
}
.headline{
  font-size: 2px;

}

.btn{min-width:250px;
  background: #000;}
#welcome_user_msg, #login_or_sign_up {
  position: absolute;
  right: 0px;
  padding-right: 10px;
}

#login_form.tr, #registration_form.tr {
  padding-top: 2px;
  padding-bottom: 2px;

}

#login_form.th, #registration_form.th {
  text-align: right;
}
#login{
  background-color: gray;
  width: 8.5em;
  margin-left: 3.5em;
  font-size: 1.5em;
  margin-top: 0.5em;
  color: white;
  border-radius: 20px;
}
p{

  font-family: 'Just Another Hand', cursive;
  font-size: 2em;

}
#register{
  background-image: url(http://files.constantcontact.com/bd43be08001/2126f1bc-58e5-4b24-96d4-249f7d7fee02.gif?a=1126208510819);
  width: 7em;
  height: 2.5em;
  margin-left: 7em;
  font-size: 1.5em;
  margin-top: 0.5em;

  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: contain;
}

#registration_form{
   font-family: 'Lobster', cursive;
   font-size: 1.5em;
    background-image: url(https://media.giphy.com/media/FZIS6M00qtZ9C/giphy.gif);
    border-radius: 2px;
   color: saddlebrown;

}
.logon{
  background-image: url(http://bestanimations.com/Nature/Water/endless-ocean-gif.gif);
  border-radius: 20px;
  margin-left: -4px;
  width: 23em;
  border: 3px solid white;
  background-size: contain;
}
