{% load staticfiles %}
<html>
<head>
  <title>LMNOP</title>
  <link rel="stylesheet" href='{% static 'css/base_style.css' %}'></link>
</head>

<body>

<h1>LMN</h1>


<a href="{% url 'lmn:venue_list' %}">Venues</a>
<a href="{% url 'lmn:artist_list' %}">Artists</a>
<a href="{% url 'lmn:latest_notes' %}">Notes</a>

{% if user.is_authenticated %}
  <span id='welcome_user_msg'>You are logged in, <a href="{% url 'lmn:user_profile' user_pk=user.pk %}">{{ user.username }}</a>.  <a href="{% url 'logout' %}">Logout</a></span>

{% else %}

  <span id='login_or_sign_up'><a href="{% url 'login' %}?next={{ request.path }}">Login or sign up</a></span>

{% endif %}

<hr>

{% block content %}
{% endblock %}

</body>
</html>
