{% load staticfiles %}
<html>
<head>
  <title>LMNOP</title>
<link rel="stylesheet" href="{% static 'css/base_style.css' %}" type="text/css">
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
<!-- Optional theme -->
<link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}" type="text/css">



<body>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
<h1>LMN</h1>


<a href="{% url 'lmn:venue_list' %}">Venues</a>
<a href="{% url 'lmn:artist_list' %}">Artists</a>
<a href="{% url 'lmn:latest_notes' %}">Notes</a>

{% if user.is_authenticated %}
  <span id='welcome_user_msg'>You are logged in, <a href="{% url 'lmn:user_profile' user_pk=user.pk %}">{{ user.username }}</a>.  <a href="{% url 'logout' %}">Logout</a></span>

{% else %}

  <span id='login_or_sign_up'><a href="{% url 'login' %}?next={{ request.path }}">Login or sign up</a></span>

{% endif %}

<hr>

{% block content %}
{% endblock %}
      </div>
</div>
  </div>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>
