{% extends 'lmn/base.html' %}
{% block content %}

<h2>Artist List</h2>

<P>Artist Search</p>
  <form action="{% url 'lmn:artist_list' %}">
    {{ form }}
    <input type='submit' value='Search'>
  </form>


{% if search_term %}
  <h2>Artists matching '{{ search_term }}' <a href="{% url 'lmn:artist_list' %}">(clear)</a></h2>
{% else %}
  <h2>All artists</h2>
{% endif %}


{% for artist in artists %}

<P>{{ artist }}</p>
  <p>See venues played, notes, and add your own <a href="{% url 'lmn:venues_for_artist' artist_pk=artist.pk %}">{{ artist.name }} notes</a>

{% empty %}
<P>No artists found</P>
{% endfor %}

{% endblock %}
