{% extends 'lmn/base.html' %}

{% block content %}
<div>
<h2>Venue List</h2>

<div>
<P>Venue Search</P>

<!-- The form fields are built from the definition in forms.py -->
<form action="{% url 'lmn:venue_list' %}">
  {{ form }}
  <input type='submit' value='Search'/>
</form>
</div>



{% if search_term %}
  <h2 id="venue_list_title">Venues matching '{{ search_term }}'  <a href="{% url 'lmn:venue_list' %}" id='clear_search'>clear</a></h2>
{% else %}
  <h2 id="venue_list_title">All venues</h2>
{% endif %}

{% for venue in venueset %}

<div id="venue_{{ venue.pk }}">
  <P><a href="{% url 'lmn:venue_detail' venue_pk=venue.pk %}">{{ venue.name }}</a>
  {{ venue.city }}, {{ venue.state }}</p>
  <P>See artists, notes, and add your own <a href='{% url "lmn:artists_at_venue" venue_pk=venue.pk %}'>{{ venue.name }} notes</a>
</p>
</div>

{% empty %}
  <P>No venues found</p>
{% endfor %}

    <div class="pagination">
        <span class="step-links">

            {% if venueset.has_previous %}
                <a href="?page={{ venueset.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                page {{ venueset.number }} of {{ venueset.paginator.num_pages }}.
            </span>

            {% if venueset.has_next %}
                <a href="?page={{ venueset.next_page_number }}">next</a>
            {% endif %}

        </span>
    </div>
</div>
{% endblock %}