@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.google.com/specimen/Open+Sans);

body {
 font-family:'Pacifico';
}
h1 {
  font-family: 'Pacifico';
}
.btn{min-width:250px;
  background: #000;}
#welcome_user_msg, #login_or_sign_up {
  position: absolute;
  right: 0px;
  padding-right: 10px;
}

#login_form.tr, #registration_form.tr {
  padding-top: 2px;
  padding-bottom: 2px;
}

#login_form.th, #registration_form.th {
  text-align: right;
}

