body {
  font-family: monospace;
}

#welcome_user_msg, #login_or_sign_up {
  position: absolute;
  right: 0px;
  padding-right: 10px;
}

#login_form.tr, #registration_form.tr {
  padding-top: 2px;
  padding-bottom: 2px;
}

#login_form.th, #registration_form.th {
  text-align: right;
}
