{% extends 'lmn/base.html' %}
{% block content %}

<h2>Search for Artist</h2>
<h3> This page allows you to search for bands that are playing in Minnesota and add them to the database </h3>

<P>Artist Search</p>

  <form action="{% url 'lmn:search_for_artist' %}" method="post">

    {% csrf_token %}
    {{ form }}

    <input type='submit' value='Search'>
  </form>

<p> Search Results </p>

{% if not_found %}
<p> {{ artist_not_found }} is not playing in Minnesota currently</p>
{% endif %}

{% if added %}
<p> {{ artist_added }} has been added to database, check Artist tab to view shows.</p>
{% endif %}

{% if already %}
<p> {{ artist_in_database }} is already in database, check Artist tab to view shows.</p>
{% endif %}


{% endblock %}
